<div class="panel panel-default">
  <div class="panel-heading">
    Tag Cloud
  </div>
  <div class="panel-body">
    {{#each tag in tags}}
      <span {{bindAttr class="tag.tagClass"}}>{{tag.name}}</span>
    {{/each}}
  </div>
</div>
