<div class="panel panel-default">
  <div class="panel-heading">
    Thématiques
  </div>
  <div class="panel-body">
    <ul>
      {{#each category in categories}}
        <li><a href="">{{category.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
