<div class="panel panel-default panel-authors">
  <div class="panel-heading">
    Auteurs
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      <div class='thumbnail'>
        <img src="http://uifaces.com/faces/audrey_128.jpg">
        <div class="caption">
          <a href="">Jane doe</a>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class='thumbnail'>
        <img src="http://uifaces.com/faces/audrey_128.jpg">
        <div class="caption">
          <a href="">Jane doe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
