<ul>
  <li>
    <img src="http://uifaces.com/faces/audrey_128.jpg" alt="" class="thumbnail">
  </li>
  <li>
    <img src="http://uifaces.com/faces/audrey_128.jpg" alt="" class="thumbnail">
  </li>
</ul>
