<div class="mini-profile thumbnail centered-background" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=Bruxelles&zoom=13&size=400x300&maptype=roadmap&sensor=false')"></div>
