{{#link-to 'politician' model}}
  <div class="mini-profile thumbnail centered-background" {{bind-attr style=model.backgroundThumb}}>
    <div {{bind-attr class=model.assembly}}></div>
    <div class="caption">
      {{model.fullName}}
    </div>
  </div>
{{/link-to}}

