{{#linkTo 'politician' model}}
  <div class="mini-profile thumbnail centered-background" {{bindAttr style='backgroundThumb'}}>
    <div {{bindAttr class='model.assembly'}}></div>
    <div class="caption">
      {{model.fullName}}
    </div>
  </div>
{{/linkTo}}

