<div class="mini-profile thumbnail centered-background" style="background-image: url('http://uifaces.com/faces/_twitter/aaronbushnell_128.jpg')">
  <div class="caption">
    {{fullName}}
  </div>
</div>
