<div class="panel panel-default">
  <div class="panel-heading">
    Informations
  </div>
  <div class="panel-body">
    <dl>
      <dt>Nom</dt>
      <dd>{{fullName}}</dd>
      <dt>Parti</dt>
      <dd>{{party}}</dd>
    </dl>
  </div>
</div>
