@import "compass";
$brand-primary: #607de2;
$body-bg: #eee;
@import "bootstrap-sass/lib/bootstrap";


/* Put your CSS here */
html, body {
    margin: 30px 0;
}


// Activityfeed

.activityfeed--story {
  border: 1px solid #eee;
  background: #fff;
  @include border-radius(3px);
  margin-bottom: $padding-large-vertical;
  .media {
    padding: $padding-large-vertical;
  }
  .avatar {
    background: #efefef;
    @include border-radius(3px);
    margin-bottom: $padding-large-vertical;
    border: 1px solid #eee;
    padding: 2px;
  }
}

.activityfeed--socialbox--actions {
  list-style: none;
  padding: $padding-large-vertical;
  border-top: 1px solid #eee;
  margin: 0;
  li {
    display: inline-block;
    &:after {
      content: ' -';
    }
    &:last-child:after {
      content: '';
    }
  }
}

// Question
.page-header {
  margin-top: 0;
}
.question--text {
  margin-bottom: $padding-large-vertical;
}

// Widget

.mini-profile {
  height: 350px;
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  .caption {
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    background: #000;
    opacity: 0.8;
    width: 100%;
    a {
      color: #fff;
    }
  }
}


// CENTERED BACKGROUND
// We use this to center an image inside a div. e.g. avatars, ...
// It requires to be linked to a div that has a (min-)height
// --------------------------------------------------
.centered-background {
  background-color: #000;
  background-position: 50%;
  background-repeat: none;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
  img {
    // background-image is inline
    width: 100%;
    html.backgroundsize & {
      display: none;
    }
  }
  .no-backgroundsize & {
    background-image: none !important;
  }
}
