FORMAT: 1A
HOST: http://noselus.be

# NosElus API
Here is the doc for the Questions Api of NosElus.be

## Questions Collection [/questions{?q}]
### List all Questions [GET]

+ Parameters
    + q ... Search query paramater.

+ Response 200 (application/json)

        {
            "questions": [{
                "id": 1,
                "askedBy": 111,
                "askedTo": 882,
                "answeredBy": 882,
                "session": "2013-2014",
                "year": 2013,
                "number": "15 (2013-2014) 1",
                "dateAsked": "2013-10-04",
                "title": "Le fait qu'un résident belge sur sept vit sous le seuil de pauvreté",
                "questionText": "Selon « La Dernière Heure » du 2 octobre 2013 : « Plus d'une personne sur sept vit sous le seuil de pauvreté (60 % du revenu médian) dans notre pays. ». Cela fait approximativement 1 000 euros pour un isolé et 2 100 euros pour un couple avec deux enfants.\n\u003cbr /\u003e\n\u003cbr /\u003eSi les jeunes et les seniors semblent être les tranches d'âge les plus exposées au risque de pauvreté, il y a lieu de ne pas oublier les familles monoparentales (essentiellement des mamans avec enfants). Combien sont-elles à vivre dans un logement indécent (souvent humide) et éprouvant les pires difficultés à nouer les deux bouts du mois ? En plus, souvent elles ne travaillent pas à temps plein, parce qu'elles se sentent mal si elles n'accordent pas un minimum de temps à leurs enfants (et aux devoirs scolaires des enfants). \n\u003cbr /\u003e\n\u003cbr /\u003eMadame la Ministre a-t-elle analysé la situation de ces familles monoparentales ? Ne faut-il pas mettre sur pied, avec son collègue du Logement, une allocation loyer réservée aux familles monoparentales pour qu'elles puissent vivre également dans un logement décent ?",
                "answerText": "Selon « La Dernière Heure » du 2 octobre 2013 : « Plus d'une personne sur sept vit sous le seuil de pauvreté (60 % du revenu médian) dans notre pays. ». Cela fait approximativement 1 000 euros pour un isolé et 2 100 euros pour un couple avec deux enfants.\n\u003cbr /\u003e\n\u003cbr /\u003eSi les jeunes et les seniors semblent être les tranches d'âge les plus exposées au risque de pauvreté, il y a lieu de ne pas oublier les familles monoparentales (essentiellement des mamans avec enfants). Combien sont-elles à vivre dans un logement indécent (souvent humide) et éprouvant les pires difficultés à nouer les deux bouts du mois ? En plus, souvent elles ne travaillent pas à temps plein, parce qu'elles se sentent mal si elles n'accordent pas un minimum de temps à leurs enfants (et aux devoirs scolaires des enfants). \n\u003cbr /\u003e\n\u003cbr /\u003eMadame la Ministre a-t-elle analysé la situation de ces familles monoparentales ? Ne faut-il pas mettre sur pied, avec son collègue du Logement, une allocation loyer réservée aux familles monoparentales pour qu'elles puissent vivre également dans un logement décent ?",
                "excerpt": "Selon « La Dernière Heure » du 2 octobre 2013 : « Plus d'une personne sur sept vit sous le seuil de pauvreté (60 % du revenu médian) dans notre pays. ...",
                "assembly": {
                  "id": 1,
                  "label": "Parlement Wallon",
                  "level": "REGION"
                },
                "eurovocs": []
            }, {
                "id": 2,
                "askedBy": 111,
                "askedTo": 882,
                "answeredBy": 882,
                "session": "2013-2014",
                "year": 2013,
                "number": "27 (2013-2014) 1",
                "dateAsked": "2013-10-04",
                "title": "Le chômage de 30.000 Wallons depuis 2005",
                "questionText": "« En Wallonie, plus de 30 000 chômeurs (soit 17.5 % des chômeurs) bénéficient d'allocations depuis 2005. » (presse - 2 octobre 2013). Ce sont les DEI qui se résignent à trouver un emploi. \n\u003cbr /\u003e\n\u003cbr /\u003eParmi les 94.343 demandeurs d'emploi qui perçoivent des allocations, ils sont 49,4 % à faire partie de ce que l'ONEM (Office national de l'emploi) appelle les « chômeurs de longue durée » (DEI depuis minimum 2 ans).\n\u003cbr /\u003e\n\u003cbr /\u003eLe chômage wallon est donc très caractérisé par le chômage de longue, voire de très longue durée. Chômeurs souvent trop faiblement qualifiés, trop âgés, en trop mauvais état de santé, en dépression psychique ?. Doit-on compter tous ces gens parmi le noyau dur du chômage ? \n\u003cbr /\u003e\n\u003cbr /\u003eTout porte à croire que les qualifications que ces personnes avaient acquises ne sont plus d'actualité. Ou en tout cas plus demandées sur le marché de l'emploi. Sans parler évidemment des compétences sociales qui se perdent au fil des années de non-emploi.\n\u003cbr /\u003e\n\u003cbr /\u003eMonsieur le Ministre a-t-il creusé la filière PFI comme une piste qui aiderait aux personnes concernées de sortir de cette impasse ? Est-ce un outil adapté à ce public ?",
                "answerText": "« En Wallonie, plus de 30 000 chômeurs (soit 17.5 % des chômeurs) bénéficient d'allocations depuis 2005. » (presse - 2 octobre 2013). Ce sont les DEI qui se résignent à trouver un emploi. \n\u003cbr /\u003e\n\u003cbr /\u003eParmi les 94.343 demandeurs d'emploi qui perçoivent des allocations, ils sont 49,4 % à faire partie de ce que l'ONEM (Office national de l'emploi) appelle les « chômeurs de longue durée » (DEI depuis minimum 2 ans).\n\u003cbr /\u003e\n\u003cbr /\u003eLe chômage wallon est donc très caractérisé par le chômage de longue, voire de très longue durée. Chômeurs souvent trop faiblement qualifiés, trop âgés, en trop mauvais état de santé, en dépression psychique ?. Doit-on compter tous ces gens parmi le noyau dur du chômage ? \n\u003cbr /\u003e\n\u003cbr /\u003eTout porte à croire que les qualifications que ces personnes avaient acquises ne sont plus d'actualité. Ou en tout cas plus demandées sur le marché de l'emploi. Sans parler évidemment des compétences sociales qui se perdent au fil des années de non-emploi.\n\u003cbr /\u003e\n\u003cbr /\u003eMonsieur le Ministre a-t-il creusé la filière PFI comme une piste qui aiderait aux personnes concernées de sortir de cette impasse ? Est-ce un outil adapté à ce public ?",
                "excerpt": "« En Wallonie, plus de 30 000 chômeurs (soit 17.5 % des chômeurs) bénéficient d'allocations depuis 2005. » (presse - 2 octobre 2013). Ce sont les DEI ...",
                "assembly": {
                  "id": 1,
                  "label": "Parlement Wallon",
                  "level": "REGION"
                },
                "eurovocs": []
            }]
        }

## Question [/questions/{id}]
A single Question object with all its details

+ Parameters
    + id (number, `1`) ... An unique identifier of the message.

### Retrieve a Question [GET]
+ Response 200 (application/json)

        {
          "question": {
            "id": 1,
            "askedBy": 1,
            "askedTo": 2,
            "answeredBy": 2,
            "session": "2013-2014",
            "year": 2013,
            "number": "15 (2013-2014) 1",
            "dateAsked": "2013-10-04",
            "title": "Le fait qu'un résident belge sur sept vit sous le seuil de pauvreté",
            "questionText": "Selon « La Dernière Heure » du 2 octobre 2013 : « Plus d'une personne sur sept vit sous le seuil de pauvreté (60 % du revenu médian) dans notre pays. ». Cela fait approximativement 1 000 euros pour un isolé et 2 100 euros pour un couple avec deux enfants.\n\u003cbr /\u003e\n\u003cbr /\u003eSi les jeunes et les seniors semblent être les tranches d'âge les plus exposées au risque de pauvreté, il y a lieu de ne pas oublier les familles monoparentales (essentiellement des mamans avec enfants). Combien sont-elles à vivre dans un logement indécent (souvent humide) et éprouvant les pires difficultés à nouer les deux bouts du mois ? En plus, souvent elles ne travaillent pas à temps plein, parce qu'elles se sentent mal si elles n'accordent pas un minimum de temps à leurs enfants (et aux devoirs scolaires des enfants). \n\u003cbr /\u003e\n\u003cbr /\u003eMadame la Ministre a-t-elle analysé la situation de ces familles monoparentales ? Ne faut-il pas mettre sur pied, avec son collègue du Logement, une allocation loyer réservée aux familles monoparentales pour qu'elles puissent vivre également dans un logement décent ?",
            "answerText": "Selon « La Dernière Heure » du 2 octobre 2013 : « Plus d'une personne sur sept vit sous le seuil de pauvreté (60 % du revenu médian) dans notre pays. ». Cela fait approximativement 1 000 euros pour un isolé et 2 100 euros pour un couple avec deux enfants.\n\u003cbr /\u003e\n\u003cbr /\u003eSi les jeunes et les seniors semblent être les tranches d'âge les plus exposées au risque de pauvreté, il y a lieu de ne pas oublier les familles monoparentales (essentiellement des mamans avec enfants). Combien sont-elles à vivre dans un logement indécent (souvent humide) et éprouvant les pires difficultés à nouer les deux bouts du mois ? En plus, souvent elles ne travaillent pas à temps plein, parce qu'elles se sentent mal si elles n'accordent pas un minimum de temps à leurs enfants (et aux devoirs scolaires des enfants). \n\u003cbr /\u003e\n\u003cbr /\u003eMadame la Ministre a-t-elle analysé la situation de ces familles monoparentales ? Ne faut-il pas mettre sur pied, avec son collègue du Logement, une allocation loyer réservée aux familles monoparentales pour qu'elles puissent vivre également dans un logement décent ?",
            "excerpt": "Selon « La Dernière Heure » du 2 octobre 2013 : « Plus d'une personne sur sept vit sous le seuil de pauvreté (60 % du revenu médian) dans notre pays. ...",
            "assembly": {
              "id": 1,
              "label": "Parlement Wallon",
              "level": "REGION"
            },
            "eurovocs": []
          }
        }

## Politician Collection [/politicians]
### List all Politician [GET]
+ Response 200 (application/json)

        {
            "politicians": [{
                "id": 882,
                "fullName": "Dallemagne Georges",
                "email": "georges.dallemagne@lachambre.be",
                "site": "",
                "function": "DEPUTY",
                "assemblyId": 951,
                "assembly": "FED",
                "latitude": 0.0,
                "longitude": 0.0,
                "asked_questions": [],
                "belong_to_assembly": {
                  "id": 2,
                  "label": "Chambre des représentants",
                  "level": "DEPUTY_CHAMBER"
                }
            }, {
                "id": 883,
                "fullName": "Dedecker Jean Marie",
                "email": "jeanmarie.dedecker@dekamer.be",
                "site": "http://www.jmdedecker.com",
                "function": "DEPUTY",
                "assemblyId": 954,
                "assembly": "FED",
                "latitude": 0.0,
                "longitude": 0.0,
                "asked_questions": [],
                "belong_to_assembly": {
                  "id": 2,
                  "label": "Chambre des représentants",
                  "level": "DEPUTY_CHAMBER"
                }
            }, {
                "id": 87,
                "fullName": "COLLIGNON Christophe",
                "party": "PS                  ",
                "address": "rue du Marché, 45",
                "postalCode": "4500                ",
                "town": "HUY",
                "phone": "085 31 82 00                                                                                                                                                                                                                                                   ",
                "fax": "085 31 80 99",
                "email": "contact@christophe-collignon.be",
                "site": "www.christophe-collignon.be",
                "function": "DEPUTY",
                "assemblyId": 1076,
                "assembly": "WAL",
                "latitude": 50.51813509999999,
                "longitude": 5.2443019,
                "asked_questions": [],
                "belong_to_assembly": {
                  "id": 1,
                  "label": "Parlement Wallon",
                  "level": "REGION"
                }
            }, {
                "id": 111,
                "fullName": "JAMAR Hervé",
                "party": "MR                  ",
                "address": "rue Albert 1er,130",
                "postalCode": "4280                ",
                "town": "HANNUT",
                "phone": "085 23 33 49                                                                                                                                                                                                                                                   ",
                "fax": "085 23 64 62",
                "email": "herve@hervejamar.be",
                "site": "www.hervejamar.be",
                "function": "DEPUTY",
                "assemblyId": 644,
                "assembly": "WAL",
                "latitude": 50.67214999999999,
                "longitude": 5.07776,
                "asked_questions": [],
                "belong_to_assembly": {
                  "id": 1,
                  "label": "Parlement Wallon",
                  "level": "REGION"
                }
            }]
        }

## Politician [/politicians/{id}]
### Retrieve Politician [GET]
+ Response 200 (application/json)

        {
            "politician": {
                "id": 111,
                "fullName": "JAMAR Hervé",
                "party": "MR                  ",
                "address": "rue Albert 1er,130",
                "postalCode": "4280                ",
                "town": "HANNUT",
                "phone": "085 23 33 49                                                                                                                                                                                                                                                   ",
                "fax": "085 23 64 62",
                "email": "herve@hervejamar.be",
                "site": "www.hervejamar.be",
                "function": "DEPUTY",
                "assemblyId": 644,
                "assembly": "WAL",
                "latitude": 50.67214999999999,
                "longitude": 5.07776,
                "asked_questions": [],
                "belong_to_assembly": {
                    "id": 1,
                    "label": "Parlement Wallon",
                    "level": "REGION"
                }
            }
        }