// Homepage section
// ================

.homepage--section {
  padding: 100px 0;
}

.homepage--section-bigheader {
  background-color: darken($brand-primary, 10%);
  min-height: 325px;
}

.homepage--section-bigheader--header {
  margin-bottom: $grid-gutter-width;
  color: #fff;
  h1 {
    font-size: 64px;
    margin-top: 0;
  }
}

.homepage--section--header {
  margin-bottom: $grid-gutter-width *2;
  color: $brand-primary;
}

.homepage--section-community {
  background-color: #fff;
}

.homepage--section-values {
  background: #fff;
  border-bottom: 2px solid #eee;
}
