// Activityfeed
// ============

.activityfeed--story {
  margin-top: 4px;
  margin-bottom: 1px;
  background: #efefef;
  padding: $padding-large-vertical;
  display: block;
  &.activityfeed--story-answered {
    border-right: 4px solid $label-success-bg;
  }
  .avatar {
    margin-bottom: 10px;
  }
}

.activityfeed--header a {
  color: $brand-primary;

  h4 {
    margin-top: 0;
  }

  &:hover {
    color: lighten($link-color, 10%);
    cursor: pointer;
    text-decoration: none;
  }
}

.activityfeed--header--authors {
  margin-bottom: $padding-large-vertical/2;
  display: block;
  opacity: 0.8;
}

.activityfeed--header--authors--answer-added {
  display: block;
}