// Activityfeed
// ============

.activityfeed--story {
  border: 1px solid #eee;
  background: #fff;
  @include border-radius(3px);
  margin-bottom: $padding-large-vertical;
  .media {
    padding: $padding-large-vertical;
  }
}

.activityfeed--header h3 {
  margin-top: 0;
}

.activityfeed--header--authors {
  margin-bottom: $padding-large-vertical;
  display: block;
}

.activityfeed--socialbox--actions {
  list-style: none;
  padding: $padding-large-vertical;
  border-top: 1px solid #eee;
  margin: 0;
  li {
    display: inline-block;
    &:after {
      content: ' -';
    }
    &:last-child:after {
      content: '';
    }
  }
}
