.icon.img-circle {
  width: 80px;
  height: 80px;
  line-height: 90px;
  font-size: 30px;
  background: #fff;
  margin: 0 auto 20px;

  &.img-circle-purple {
    background: #563d7c;
    color: #fff;
  }

  &.img-circle-blue {
    background: $blue;
    color: #fff;
  }

  &.img-circle-green {
    background: $green;
    color: #fff;
  }

  &.img-circle-orange {
    background: $orange;
    color: #fff;
  }

  &.img-circle-red {
    background: $red;
    color: #fff;
  }

  &.img-circle-pink {
    background: $fuchsia;
    color: #fff;
  }

  &.img-circle-yellow {
    background: $yellow;
    color: #fff;
  }
}

