// General style
// ===============
html, body {
  margin: 25px 0 0 0;
}

.navbar-nav{
  a.active {
    background: darken($navbar-inverse-link-hover-bg, 5%);
  }
}

.footer {
  padding: 20px;
  background: $brand-primary;
  color: #fff;
  font-size: 12px;
  a, a:hover {
    color: #fff;
  }
}
