// General style
// ===============
html, body {
  margin: 25px 0 0 0;
}

.main-wrapper {
  padding-top: $grid-gutter-width;
}

.navbar-nav{
  a.active {
    background: #333;
    @include link-colors(#fff, #ccc);
    &:hover {
      background: #333 !important;
    }
  }
}