// General style
// ===============
html, body {
  margin: 25px 0 0 0;
}

.main-wrapper {
  padding-top: $grid-gutter-width;
}

.navbar-nav{
  a.active {
    background: darken($navbar-inverse-link-hover-bg, 5%);
  }
}