// CENTERED BACKGROUND
// We use this to center an image inside a div. e.g. avatars, ...
// It requires to be linked to a div that has a (min-)height
// --------------------------------------------------
.centered-background {
  background-color: $brand-primary;
  background-position: 50%;
  background-repeat: none;
  background-size: cover !important;
  overflow: hidden;
  position: relative;
  img {
    // background-image is inline
    width: 100%;
    html.backgroundsize & {
      display: none;
    }
  }
  .no-backgroundsize & {
    background-image: none !important;
  }
}


.centered {
  text-align: center;
}
