// Bootstrap
$brand-primary: lighten(#563d7c, 10%);
$body-bg: #eee;
$navbar-inverse-bg: darken($brand-primary, 30%);
$navbar-inverse-link-color: lighten($brand-primary, 60%);
$icon-font-path: "/styles/fonts/";
