$container-large-desktop: 1024px;
$brand-primary: #293a70;

$body-bg: #fff;
$padding-large-vertical: 20px;
$padding-large-horizontal: 20px;

$font-family-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
///assets/bootstrap
// Colors

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm

$yellow:  #edcf00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #dd119c;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;


$font-size-base: 16px;
$text-color: #333;
$panel-bg: #efefef;
// Buttons
// @bootstrap
// ------------------------
$btn-default-color: #666;
$btn-default-bg: #efefef;
$btn-default-border: #efefef;
$btn-default-border: #efefef;
$btn-default-bg: #efefef;

// $link-color: lighten($brand-primary, 5%);
$link-color: $brand-primary;

// Inverted navbar
// @bootstrap
$navbar-inverse-color:                      #ccc;
$navbar-inverse-bg:                         darken($brand-primary, 10%);
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-hover-color: #fff;
$navbar-inverse-link-hover-bg: darken($brand-primary, 10%);
