<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>Mon compte</h1>
    </div>
    <div class="row">
      <ul class='list-group col-sm-3'>
        {{#link-to 'user.account.infos' class='list-group-item'}}
          <i class='glyphicon glyphicon-info-sign'></i>
          Mes infos
        {{/link-to}}
        {{#link-to 'user.account.notifications' class='list-group-item'}}
          <i class='glyphicon glyphicon-envelope'></i>
          Mes notifications
        {{/link-to}}
      </ul>
      <div class="profile-section col-sm-9">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
