<div class="homepage--section homepage--section-bigheader centered">
  <div class="container">
    <div class="homepage--section-bigheader--header">
      <h1>
        Découvrez comment vos élus travaillent pour vous!
      </h1>
      <h2>
        <small>
          Rechercher dans les questions parlementaires les sujets qui vous sont chers
        </small>
      </h2>
    </div>
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2">
        {{input type="text" class="form-control search-field input-lg " placeholder="Rechercher les questions par mot-clé ou homme politique" action="search"}}
      </div>
    </div>
  </div>
</div>
<div class="homepage--section homepage--section-values">
  <div class="container">
    <h2 class="centered homepage--section--header">Les valeurs fondatrices du projet</h2>
    <div class="row">
      <div class="col-md-4 centered">
        <div class="icon img-circle img-circle-purple">
          <i class="glyphicon glyphicon-eye-open"></i>
        </div>
        <h3>Transparence</h3>
        <p>
          Le travail des représentants que nous élisons périodiquement devrait être transparant pour que tout un chacun puisse vérifier si ils font ce qu'ils disent.
        </p>
      </div>
      <div class="col-md-4 centered">
        <div class="icon img-circle img-circle-blue img-circle-orange">
          <i class="glyphicon glyphicon-hand-down"></i>
        </div>
        <h3>Responsabilité</h3>
        <p>
          Encourager un système transparant, c'est encourager nos élus à prendre plus la responsabilité de leur actes par rapport à ceux qui l'ont élus.
        </p>
      </div>
      <div class="col-md-4 centered">
        <div class="icon img-circle img-circle-red">
          <i class="glyphicon glyphicon-comment"></i>
        </div>
        <h3>Participation</h3>
        <p>
          Grâce à cet outil, nous vous donnons l'occasion de participer à la vie politique de ce pays et de prendre conscience de l'activité parlementaire belge.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="homepage--section homepage--section-community">
  <div class="container">
    <h2 class="centered homepage--section--header">Collaborer au projet Nosélus.be</h2>
    <div class="row">
      <div class="col-md-4 centered">
        <div class="icon img-circle img-circle-blue">
          <i class="glyphicon glyphicon-cog"></i>
        </div>
        <h3>Open source</h3>
        <p>
          L'entièreté du projet Nosélus.be est open source. Si vous êtes un développeur, designer, ... Nous avons besoin de vous pour nous aidez à developper le projet.
          <a href="https://github.com/noselusbe/">Aller au code repo</a>
        </p>
      </div>
      <div class="col-md-4 centered">
        <div class="icon img-circle img-circle-green">
          <i class="glyphicon glyphicon-info-sign"></i>
        </div>
        <h3>Wiki</h3>
        <p>
          Toutes les infos dont vous avez besoin pour collaborer au projet se trouve répertoriée sur un wiki. Je vous invite à y venir jeter un eil.
          <a href="https://github.com/noselusbe/noselusbe-wiki">Visiter le wiki</a>
        </p>
      </div>
      <div class="col-md-4 centered">
        <div class="icon img-circle img-circle-yellow">
          <i class="glyphicon glyphicon-send"></i>
        </div>
        <h3>Discussions</h3>
        <p>
          Toutes les discussion relative à la gestion non-techinque du projet se fait via un group google. Aller
          <a href="https://groups.google.com/forum/#!forum/noselus-be">Visiter le groupe de discussion</a>
        </p>
      </div>
    </div>
  </div>
</div>
