<div class="panel panel-default">

  <div class="panel-heading">Bienvenue sur Noselus.be!</div>
  <div class="panel-body">

    <p>Périodiquement nous votons et désignons nos représentants.  Ceux-ci choisissent l'exécutif.  Parlementaire et Ministres, Conseillers communaux, Bourgmestres et Echevins sont nos élus.  Il travaillent pour la collectivité, c'est à dire pour nous tous.  Mais que font-ils ?  Dans les enceintes des assemblées, des lois sont élaborées, des budgets sont votés et l'action du Gouvenement est contrôlée.  Ce travail important, tant par son impact que par son ampleur, nous concerne tous.  </p>

    <p>L'objectif de NosElus.be est de rendre le suivi de ce travail plus accessible à chacun. </p>

    <p>Le développement de NosElus.be a débuté dans le cadre du <a href="http://hackathonegovwallonia.net">Hackathon GovWallonie</a> organisé au <a href="http://coworkingnamur.be/">CoWorking de Namur</a> (lien) ces 4, 5 et 6 octobre 2013.  Pour des raisons d'accessibilité de l'information, dans un premier temps il a été décidé de rendre disponible les questions écrites du Parlement Wallon. </p>

    <p>Le site n'en est qu'à son début.  Actuellement, il ne permet d'accéder qu'à une toute petite partie du travail parlementaire. Les outils de recherche sont modestes. <strong>Certains hyperliens apparents ne mènent encore nulle part</strong>.  Au fur et à mesure du développement du site d'autres matières et d'autres fonctions devrait être disponibles. </p>

    <p>Vous pouvez nous aider à développer NosElus.be </p>

    <h2>Vous êtes: </h2>
    <h3>...parlementaire</h3>
    <p> Vous souhaitez que le travail des assemblées soit valorisé.
        Nous contacterons prochainement les Présidents du Parlement wallon est de la Chambre afin de leur présenter le projet et de leur expliquer ce que les assemblées pourrait faire pour faciliter notre projet.  Vous êtes près à apporter un soutien à nos demandes. Faites-vous connaître en nous écrivant à noselus.be@gmail.com. </p>

    <h3>... citoyen </h3>
    <p>Suivez-nous sur Tweeter (<a href="http://twitter.com/noselusbe">@noselusbe</a>)</p>
    <p>Le projet vous intéresse et vous seriez près à vous y investir.  Faites vous connaître par mail à <a href="mailto:noselus.be@gmail.com"></a>info@noselus.be</p>

    <h3>... Développeur - Webdesigner</h3>
    <p>Rejoignez l'équipe de développeurs bénévoles de NosElus.be.  Le site est développé en OpenSource.  Un outil de développement collaboratif sera prochainement mis en place. </p>
    <a href="https://github.com/noselusbe/noselus-frontend">https://github.com/noselusbe/noselus-frontend</a>
  </div>
</div>
