<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h3>Login</h3>
    </div>
  </div>
  <div class="col-xs-6">
    <form {{action 'authenticate' on='submit'}}>
      <div class="form-group">
        <label for="identification">Login</label>
        {{input id='identification' placeholder='Enter Login' value=identification class='form-control'}}
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        {{input id='password' placeholder='Enter Password' type='password' value=password class='form-control'}}
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
