<div class="panel">
  <div class="panel-body">
    <div class='row'>
     {{#each politician in controller}}
        <div class='col-xs-2 mini-profile-small'>
          {{widget-mini-profile model=politician}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
