<div class="col-xs-8 activityfeed">
  {{#each question in questions}}
    {{render 'question_list' question}}
  {{/each}}
</div>

<aside class="col-xs-4 sidebar">
  {{widget-mini-profile model=model}}
  {{widget-profile-infos model=model}}
</aside>
