<div class="search-form form">
  <div class="form-group">
    {{view Ember.TextField valueBinding="searchQuery" class='form-control input-lg search-field' placeholder="Rechercher par nom ou fonction. ex: Di Rupo ou Premier Ministre"}}
  </div>
</div>
<div class="row">
  {{#each politician in controller}}
    <div class='col-lg-2 col-md-3 col-xs-6 mini-profile-small'>
      {{widget-mini-profile model=politician}}
    </div>
  {{/each}}
</div>
