<div class="row">
  <div class="col-xs-8 activityfeed">
    <div class="inf-scroll-outer-container vertical">
      <div class="inf-scroll-inner-container">
        {{#if questions}}
          {{#each question in questions}}
            {{render 'question_list' question}}
          {{/each}}
        {{else}}
          <div class="alert alert-warning">Nous n'avons pas trouvé de questions posée par ce politicien</div>
        {{/if}}
      </div>
    </div>

    {{#if loadingMore}}
      <div class="spinner"></div>
    {{/if}}

  </div>

  <aside class="col-xs-4 sidebar">
    {{widget-mini-profile model=model}}
    {{widget-profile-infos model=model}}
  </aside>

</div>