<div class="activityfeed--story">
  <div class="media">
      <div class="pull-left">
        <img src="http://uifaces.com/faces/_twitter/aaronbushnell_48.jpg" alt="" class="avatar media-object">
        <img src="http://uifaces.com/faces/_twitter/poopsplat_48.jpg" alt="" class="avatar media-object">
      </div>
      <div class="media-body">
        <small class="activityfeed--header--authors text-muted small">
          {{#linkTo 'politician' question.askedByPolitician}}
            {{question.askedByPolitician.fullName}}
          {{/linkTo}}
          à demander à <a href="">Rudy de Motte</a>
        </small>
        <header class="activityfeed--header">
          <h3>
            {{#linkTo 'question' question}}
              {{question.title}}
            {{/linkTo}}
          </h3>
        </header>
        <div class="activityfeed--excerpt">
          <p>{{question.excerpt}}</p>
          <p>
            {{#linkTo 'question' question}}
              Lire la suite
            {{/linkTo}}
          </p>
        </div>
      </div>
  </div>
  <div class="activityfeed--socialbox">
    <ul class="activityfeed--socialbox--actions">
      <li><a href=''>J'aime</a></li>
      <li><a href=''>Suivre</a></li>
      <li><a href=''>Lire plus tard</a></li>
    </ul>
  </div>
</div>
