<h3>Créer un compte</h3>

<form {{action 'register' on='submit'}}>
  <label for="identification">Email</label>
  {{input id='email' placeholder='Votre email' value=email}}
  <label for="password">Mot de passe</label>
  {{input id='password' placeholder='Mot de passe' type='password' value=password}}
  <button type="submit">Envoyer</button>
</form>
